.p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.Model{
    color: black;
    font-family: Montserrat;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.Online{
    color: black;
    font-family: Montserrat;
    text-align: center;
}
